<div id="about" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center img-about">
          <img src="{{ site.baseurl }}/static/img/30x30_logo.png" alt="30x30 Rapid Rider Network" class="img-responsive"/>
        </h4>
      </div>
      <div class="modal-body">
        <p>
          30x30 is SFTR's transit improvement initiative to develop a network of rapid lines that truly ties San Francisco together with end-to-end service in 30 minutes by the year 2030.
        </p>
        <p>
          Drop a pin anywhere in San Francisco and see how far you can reach in 30 minutes using public transit using local bus and light rail routes. 
          Select a rapid route (by clicking its checkbox) and see how much farther you can reach in the same 30 minute transit time. 
        </p>
        <address id="contact">
          <p>This visualization tool was originally forked from the open source project <a href="https://github.com/mapnificent">Mapnificent</a>, which was created by <a class="url" href="http://stefanwehrmeyer.com" title="Stefan Wehrmeyer">Stefan Wehrmeyer</a>.</p>
        </address>
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
