---
layout: base

---

<nav class="navbar navbar-default navbar-mapnificent navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mapnificent-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">
        <span class="text-hide">Mapnificent</span>
        <span class="city">{{ page.cityname }}</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="mapnificent-navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a data-toggle="modal" href="#about">About</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/">Home</a>
        </li>
        <li>
          <p class="navbar-text">
            Rapid Routes:
          </p>
        </li>
        <li>
          <div class="navbar-text">
              <input type="checkbox" value="14293" name="5R" class="route-checkbox"/>
              <label for="5R">5R</label>
          </div>
        </li>
        <li>
          <div class="navbar-text">
            <input type="checkbox" value="14301" name="9R" class="route-checkbox"/>
            <label for="9R">9R</label>
          </div>
        </li>
        <li>
          <div class="navbar-text">
              <input type="checkbox" value="14316" name="28R" class="route-checkbox"/>
              <label for="28R">28R</label>
          </div>
        </li>
        <li>
          <div class="navbar-text">
              <input type="checkbox" value="14305" name="14R" class="route-checkbox"/>
              <label for="14R">14R</label>
          </div>
        </li>
        <li>
          <div class="navbar-text">
              <input type="checkbox" value="14330" name="38R" class="route-checkbox"/>
              <label for="38R">38R</label>
          </div>
        </li>
      </ul>     
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a data-toggle="modal" href="#attribution">Attribution</a>
            </li>
            <li>
              <a data-toggle="modal" href="#terms-of-use">Terms</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="mapnificent-map"></div>

{% include tos.html %}

{% include about.html %}

<div id="load-progress" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Loading necessary data...
        </h4>
      </div>
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="attribution" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">
          Attribution
        </h4>
      </div>
      <div class="modal-body">
        <p>Data Copyright Holders are:</p>
        {{ content }}
        <hr/>
        <p>
          Last update: {{ page.changed | date: "%Y-%m-%d %H:%M" }} UTC
        </p>
        <small>For journey planning services see links above.</small>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="{{ site.baseurl }}/static/vendor/leaflet/dist/leaflet.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/static/vendor/leaflet-hash/leaflet-hash.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/static/vendor/bytebuffer/dist/ByteBufferAB.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/static/vendor/protobuf/dist/ProtoBuf.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/static/js/quadtree.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/static/js/mapnificent.js" type="text/javascript" charset="utf-8"></script>

<script>

$(function(){
  $('#mapnificent-map').height($(window).height());
  var city = {
    cityid: {{ page.cityid | jsonify }},
    cityname: {{ page.cityname | jsonify }},
    coordinates: {{ page.coordinates | jsonify }},
    options: {{ page.options | jsonify }} || {},
    zoom: {{ page.zoom | jsonify }}
  };

  var tileUrl = '{{ site.tileUrl }}';

  L.Icon.Default.imagePath = '{{ site.baseurl }}/static/vendor/leaflet/dist/images/';
  var map = L.map('mapnificent-map', {
    center: [city.coordinates[1], city.coordinates[0]],
    zoom: city.zoom
  });

  defaultTileLayer = new L.TileLayer(tileUrl, {
    maxZoom: 17, minZoom: 4,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution">CARTO</a>'});
  map.attributionControl.setPrefix("");
  map.addLayer(defaultTileLayer);

  var mapnificent = new Mapnificent(map, city, {
    baseurl: '{{ site.baseurl }}/'
  });

    
  // Populate `window.checkRoutes` with an Array of user-selected route IDs
  let routes = [];
  window.checkedRoutes = [];
  $('.route-checkbox').change(function(){
    if ($(this).is(':checked')) {
      routes.push($(this)[0].value);
      window.checkedRoutes = routes;
    } else {
      let routeIdx = routes.indexOf($(this)[0].value);
      routes.splice(routeIdx,1);
      window.checkedRoutes = routes;
    };
    
    // Pass the array of user-selected routes to `prepareData`
    // to filter station data by route ID
    mapnificent.prepareData(window.staticData, routes);
    mapnificent.redraw();
    
    // Re-calculate and re-render reachable stations from each selected pin
    // given user's route selection
    mapnificent.positions.forEach(function(pos){
      pos.startCalculation();
    });   
  });

  mapnificent.init();
});

</script>
