---
layout: base
---
<link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.9.2.css">
<nav class="navbar navbar-default navbar-mapnificent navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mapnificent-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">
        <span class="text-hide">Mapnificent</span>
        <span class="city">{{ page.cityname }}</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="mapnificent-navbar-collapse">
      <ul id="navbar-container" class="nav navbar-nav">
        <li>
          <a data-toggle="modal" href="#about">About</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/">Home</a>
        </li>
        <li>
          <p class="navbar-text">
            Rapid Routes:
          </p>
        </li>
      </ul>     
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a data-toggle="modal" href="#attribution">Attribution</a>
            </li>
            <li>
              <a data-toggle="modal" href="#terms-of-use">Terms</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<div id="mapnificent-map"></div>

{% include tos.html %}

{% include about.html %}

<div id="load-progress" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Loading necessary data...
        </h4>
      </div>
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="attribution" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">
          Attribution
        </h4>
      </div>
      <div class="modal-body">
        <p>Data Copyright Holders are:</p>
        {{ content }}
        <hr/>
        <p>
          Last update: {{ page.changed | date: "%Y-%m-%d %H:%M" }} UTC
        </p>
        <small>For journey planning services see links above.</small>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="{{ site.baseurl }}/static/vendor/leaflet/dist/leaflet.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/static/vendor/leaflet-hash/leaflet-hash.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/static/vendor/bytebuffer/dist/ByteBufferAB.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/static/vendor/protobuf/dist/ProtoBuf.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/static/js/quadtree.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/static/js/mapnificent.js" type="text/javascript" charset="utf-8"></script>

<script src="https://code.jquery.com/qunit/qunit-2.9.2.js"></script>
<script>

$(function(){
  $('#mapnificent-map').height($(window).height());
  var city = {
    cityid: {{ page.cityid | jsonify }},
    cityname: {{ page.cityname | jsonify }},
    coordinates: {{ page.coordinates | jsonify }},
    options: {{ page.options | jsonify }} || {},
    zoom: {{ page.zoom | jsonify }}
  };

  var tileUrl = '{{ site.tileUrl }}';

  L.Icon.Default.imagePath = '{{ site.baseurl }}/static/vendor/leaflet/dist/images/';
  var map = L.map('mapnificent-map', {
    center: [city.coordinates[1], city.coordinates[0]],
    zoom: city.zoom
  });

  defaultTileLayer = new L.TileLayer(tileUrl, {
    maxZoom: 17, minZoom: 4,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution">CARTO</a>'});
  map.attributionControl.setPrefix("");
  map.addLayer(defaultTileLayer);

  var mapnificent = new Mapnificent(map, city, {
    baseurl: '{{ site.baseurl }}/'
  });

  // ***** SFTR EMBED UI LOGIC ***** //

  // Route information for user selection inputs
  let userSelectionRoutes = [
    {routeId: '14293', routeName: '5R'},
    {routeId: '14301', routeName: '9R'},
    {routeId: '14316', routeName: '28R'},
    {routeId: '14305', routeName: '14R'},
    {routeId: '14330', routeName: '38R'}
  ]
  
  // Initialize the variable holding user selected route IDs
  window.userSelectedRoutes = [];

  // Event handler for input elements
  
  const updateUserSelectedRoutes = (e) => {
    if (e.srcElement.checked) {
      console.log(userSelectedRoutes)
      window.userSelectedRoutes.push(e.srcElement.value)
    }

    if (!e.srcElement.checked) {
      window.userSelectedRoutes = window.userSelectedRoutes.filter((value) => value != e.srcElement.value)
    }
 

    // Pass the array of user-selected routes to `prepareData`
    // to filter station data by route ID
    mapnificent.prepareData(window.staticData);
    mapnificent.redraw();
    
    // Re-calculate and re-render reachable stations from each selected pin
    // given user's route selection
    mapnificent.positions.forEach(function(pos){
      pos.startCalculation();
    });   
  }
   
  // Append list elements, containing route selection data, to existing navbar ul element
  userSelectionRoutes.forEach((routeData) => {
    let listElement = document.createElement('li')
    let divElement = document.createElement('div')
    let inputElement = document.createElement('input')
    let labelElement = document.createElement('label')

    divElement.className = 'navbar-text'

    inputElement.className = 'route-checkbox'
    inputElement.type = 'checkbox'
    inputElement.value = routeData.routeId
    inputElement.name = routeData.routeName
    inputElement.addEventListener('input', updateUserSelectedRoutes)
    labelElement.htmlFor = routeData.routeName
    labelElement.textContent = routeData.routeName

    divElement.appendChild(inputElement)
    divElement.appendChild(labelElement)
    listElement.appendChild(divElement)

    document.getElementById('navbar-container').appendChild(listElement)
  
  })
  mapnificent.init();
});

</script>
<script>
  QUnit.test("User selected routes are included in `window.checkedRoutes` Array", function (assert) {
    let routeCheckboxes = document.getElementsByClassName('route-checkbox')
    for (let input of routeCheckboxes) {
      input.click()
      assert.ok(window.userSelectedRoutes.includes(input.value), input.value)
    }
  })
</script>